h1{
    color:rgb(241, 46, 79);
    font-family: 'Shizuru', cursive;
    text-align: center;
}
p{
    background: pink;
    color:black;
}
h3{
    color:thistle;
}

.Nina{
    color:salmon;
    background: cornsilk;
}

#heading{
    text-align: center;
}


span{
    background: greenyellow;
}