@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 50px;
}

.header .logo img{
    background-color: #c09a2f;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, 20%);
    z-index: 1;
}